@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);



body {
    background-color: wheat;
    
} 






h1 {
    font-size:50px; font-family:monospace; color: black;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;


}




p {
    font-size:35px; font-family:courier; color: black;
    text-align: center;
        
}

h2 {
    margin-top: 150px;
    font-size:40px; font-family:monospace; color: black;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: purple;

}



* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .column h1{
    font-size:40px; font-family:monospace; color: black;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: purple;
  }



  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}
