body{
    background-color: wheat;
    
} 






h1 {
    font-size:50px; font-family:monospace; color: black;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;


}


p {
    font-size:35px; font-family:courier; color: black;
    text-align: center;
        
}

h2 {
    margin-top: 150px;
    font-size:40px; font-family:monospace; color: black;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: purple;

}

.Copyright p {
    color: rgb(36, 36, 36);
    margin-top: 130px;
    font-weight: bold;
    font-size: medium;
    text-align: center;

}
