@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);



body {
  background: #ee0979;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    
} 






h1 {
    font-size:65px; font-family:monospace; color: black;
    text-align: center;
    font-weight: bold;

}




p {
    font-size:35px; font-family:courier; color: black;
    text-align: center;
        
}

h2 {
    margin-top: 150px;
    font-size:40px; font-family:monospace; color: black;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: purple;

}



* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  

  .column h1{
    font-size:40px; font-family:monospace; color: black;
    text-align: center;
    text-decoration-color: purple;
  }



  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

  @media screen and (max-width: 374px) {

    .bulbul h1 {
      font-size: 45px;
    }
}


@media screen and (max-width: 248px) {

  .bulbul h1 {
    font-size: 30px;
  }
}
